ion-content {
    --background: url('../../../assets/imgs/ecomm3.png') no-repeat center center/cover;
}

ion-footer {
    height: 88%;
    ion-list {
        height: 100%;
        border-radius: 20px 20px 0 0;
        ion-list-header {
            ion-label {
                font-weight: bold;
                font-size: 1.8em;
            }
        }
        ion-item {
            ion-label {
                font-size: 0.9rem;
                overflow: visible;
            }
        }
    }

}